/* =========================== Media quaries ============================== */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    .header.active {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu__btn {
        display: inline-block;
    }

    .header .search__form {
        width: 90%;
    }

    .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #222;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .navbar a {
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .home__slider .swiper-button-next,
    .home__slider .swiper-button-prev {
        display: none;
    }

}